  .footer {
    width: 225px;
    padding-top: 100px;
    color: $footer-color;
    position: absolute;
    bottom: 50px;

    h2 {
      font-family: 'open_sans';
      font-weight: 300;
    }

      @include desktop-settings {
        padding-left: 35px;
        width: 300px;
    }
  }