@import "variables";
@import "mixins";

//Import the rest of the partials up here, in the order that Jim slacked out on July 20
  * {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
                    font-family: 'open_sans';
                    font-weight: 300;
    }


  p {
    color: white;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    font-family: 'open_sans';
    font-weight: 300;
  }

  .main-body {
    max-width: 100%;
    background-color: black;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    

      @media (min-width: 600px) {
        //align-items: left;
      }

      @media (min-width: 1000px) {
        align-items: left;
      }
  }

  .top {

    @media (min-width: 600px) {
      display: flex;
    }

    .logo-container { //WHY WON'T THIS WORK???
      transition: all .5s ease-out .5s;
      margin-bottom: 1rem;
      margin-right: 0rem;

      @media (min-width: 600px) {
        margin-right: 1rem;
        margin-bottom: 0rem;
      }
    }
  }

  .logo {
    @media (min-width: 600px) {
      width: 20vw;
      height: 30vh;
    }

    @media (min-width: 1000px) {
      height: 200px;
    }
  }

  h1 {
    padding-bottom: 15px;
    font-family: 'open_sans';
    font-weight: 300;
  }

  h2 {
    font-family: 'open_sans';
    font-weight: 300;
  }

/*Styling for the Dropdown Button*/

.dropdown {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;

    @media (min-width: 600px) {
      align-items: left;
    }
}

  select#category {
    height: 25px;
    width: 125px;
    font-size: 16px;
  }

//Styling for the list items!

  .news {
    align-self: stretch;
    width: 100%;
  }

  .news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .news-list li {
    max-width: 100%;
    flex: 0 1 100%;

    @media (min-width: 600px) {
      flex: 0 1 50%;
    }

    @media (min-width: 1000px) {
      flex: 0 1 25%;
    }
  }

  .news-list li a div{
    display: flex;
    justify-content: center;
    height: 400px;
    position: relative;
    /*background-color: red;*/
  }

  .article {
    display: block;
    width: 100%;
    height: 400px;
    background-position: 35%;
    background-size: cover;
  }

  .story-content {
    width: 100%;
  }

  .story-content p {
    position: absolute;
    bottom: 0;
    width: 100%;
        background-color: rgba(0,0,0,0.5);
  }

  .news-list li a div img{
    width: 100%;
    z-index: -2;
  }

  .news-list li a div div p { //Should be able to get rid of this?
    position: absolute;
  }

  // For the pulled images

  .articlePic {
    width: 300px;
  }

  // For the loader
  .loader {
    display: none;
    width: 50px;
    margin: auto;
  }

  .footer {
    width: 225px;
    padding-top: 100px;
    color: #c2c2c2;
    position: absolute;
    bottom: 50px;

    @media (min-width: 1000px) {
      padding-left: 35px;
      width: 300px;
    }
  }