//Importing files to be used in this main styling file with Sass

@import 'reset';
@import 'variables';
@import 'mixins';
@import 'footer';


  //General styling for page
  * {
    box-sizing: border-box;
    font-family: 'open_sans';
    font-weight: 300;
  }

  p {
    color: white;
    font-size: $standard-font-size;
    line-height: 22px;
    padding: 10px;
    font-family: 'open_sans';
    font-weight: 300;
  }

  .main-body {
    max-width: 100%;
    background-color: black;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

      @include desktop-settings {
        align-items: left;
      }
  }

  //Styling for the logo and buttons
  .top {

      @include tablet-settings {
      display: flex;
    }

    .logo-container { //Could not get the transition to take effect on media query change
      transition: all .5s ease-out .5s;
      margin-bottom: 1rem;
      margin-right: 0rem;

      @include tablet-settings {
        margin-right: 1rem;
        margin-bottom: 0rem;
      }
    }

    .logo {

      margin-top: 30px;

      @include tablet-settings {
        width: 20vw;
        height: 25vh;
      }

      @include desktop-settings {
        height: 200px;
      }
    }
  }


/*Styling for the Dropdown Button*/

  .dropdown {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    h1 {
      padding-bottom: 15px;
      font-family: 'open_sans';
      font-weight: 300;
    }

      @include tablet-settings {
        align-items: left;
        margin-bottom: 0px;
    }
  }

  select#category {
    height: 25px;
    width: 125px;
    font-size: $standard-font-size;
  }

  //This class gets loader AFTER the stories are loaded. These styles override original .main-body elements
  .main-body-populated {

      @include tablet-settings {
        align-items: left;
      }

      .top .logo-container .logo {
        width: 150px;

      @include tablet-settings {
        align-items: left;
        width: 100px;
        margin-top: 0px;
        padding-left: 30px;
      }
    }
  }

  //Styling for the list items
  .news {
    align-self: stretch;
    width: 100%;

    .news-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .news-list li {
    max-width: 100%;
    flex: 0 1 100%;

      @include tablet-settings {
      flex: 0 1 50%;
    }

      @include desktop-settings {
      flex: 0 1 25%;
    }

  }

  .news-list li a div{
    display: flex;
    justify-content: center;
    height: 400px;
    position: relative;
  }

  .article {
    display: block;
    width: 100%;
    height: 400px;
    background-position: 35%;
    background-size: cover;
  }

  .story-content {
    width: 100%;

    p {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      display: none;
    }
  }

  // When hovering over a news block, display the text. Otherwise it is hidden.
  .story-content:hover p {
    display: block;
  }

  // For the loader image
  .loader {
    display: none;
    width: 50px;
    margin: auto;
  }

  // Footer styling is in sass/_footer.scss