@import 'variables';
@import 'mixins';
@import 'footer';

//Import the rest of the partials up here, in the order that Jim slacked out on July 20
  * {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
                    font-family: 'open_sans';
                    font-weight: 300;
    }


  p {
    color: white;
    font-size: $standard-font-size;
    line-height: 22px;
    padding: 10px;
    font-family: 'open_sans';
    font-weight: 300;
  }

  .main-body {
    max-width: 100%;
    background-color: black;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

      @media (min-width: $desktop-width) {
        align-items: left;
      }
  }


  .top {

    @media (min-width: $tablet-width) {
      display: flex;
    }

    .logo-container { //WHY WON'T THIS WORK???
      transition: all .5s ease-out .5s;
      margin-bottom: 1rem;
      margin-right: 0rem;

      @media (min-width: $tablet-width) {
        margin-right: 1rem;
        margin-bottom: 0rem;
      }
    }

    .logo {

    margin-top: 30px;

      @media (min-width: $tablet-width) {
        width: 20vw;
        height: 25vh;
      }

      @media (min-width: $desktop-width) {
        height: 200px;
      }
    }
  }


/*Styling for the Dropdown Button*/

.dropdown {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    h1 {
      padding-bottom: 15px;
      font-family: 'open_sans';
      font-weight: 300;
    }

    @media (min-width: $tablet-width) {
      align-items: left;
      margin-bottom: 0px;
    }
}

  select#category {
    height: 25px;
    width: 125px;
    font-size: $standard-font-size;
  }

  //This class gets loader AFTER the stories are loaded.
  .main-body-populated {

    @media (min-width: $tablet-width) {
      align-items: left;
    }

    .top .logo-container .logo {
      width: 150px;

    @media (min-width: $tablet-width) {
      align-items: left;
      width: 100px;
      margin-top: 0px;
      padding-left: 30px;
      }
    }
  }

//Styling for the list items!

  .news {
    align-self: stretch;
    width: 100%;

    .news-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
  }

  .news-list li {
    max-width: 100%;
    flex: 0 1 100%;

    @media (min-width: $tablet-width) {
      flex: 0 1 50%;
    }

    @media (min-width: $desktop-width) {
      flex: 0 1 25%;
    }

  }

  .news-list li a div{
    display: flex;
    justify-content: center;
    height: 400px;
    position: relative;
  }

  .article {
    display: block;
    width: 100%;
    height: 400px;
    background-position: 35%;
    background-size: cover;
  }

  .story-content {
    width: 100%;

    p {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      display: none;
    }
  }

  // When hovering over a news block, display the text. Otherwise it is hidden.
  .story-content:hover p {
    display: block;
  }

  // For the loader
  .loader {
    display: none;
    width: 50px;
    margin: auto;
  }

  // Footer styling is in sass/_footer.scss